Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.Makefile.am.swp
src/.deps/
src/Makefile
src/Makefile.in
src/autotoolsdemo
src/main.o
stamp-h1
src/spidevtest

